<html>
 <body>
      <h1>Add A New Book</h1>
      <form method="post" action="/book">
        <p>
          Book Name: 
          <input 
            type="text" 
            required  
            name="bookName" 
            placeholder="Name of the book" /> 
        </p>
        <p>
          Author Name: 
          <input 
            type="text" 
            required  
            name="authorName" 
            placeholder="Author"/>  
        </p>
        <p>ISBN: 
          <input 
            type="text" 
            required  
            name="isbn" 
            placeholder="ISBN" />
        </p>
        <p>
          <button type="submit">Add</button>
        </p>
      </form>
  </body>
  </html>

  
